.header {
    background-color: #0000ff;
    text-align: center;
}

.nav {
    background-color: #800080;
    text-align: center;
}

.main {
    background-color: #ffd700;
    text-align: center;
    width: 75%;
    float: left;
    height: 300px;
}

.aside {
    display: block;
    background-color: #808080;
    text-align: center;
    width: 25%;
    height: 300px;
    float: left;
    
}

.footer {
    background-color: #00ffff;
    text-align: center;
}
